/* ////// HEADER ////// */

@import 'shookdown-variables.scss';

.logo_container {
    margin: 20px 0;
}

#top-menu {
    li {
        a {
            font-weight: 700 !important;
            padding: 0;
            font-size: 1em !important;
            &:hover {
                background: $main-color;
                color: #fff !important;
            }
        }
    }
    li.current-menu-item>a {
        background: $main-color;
        color: #fff !important;
    }
}

#top-menu-nav>ul>li>a:hover {
    opacity: 1;
} 

.et_header_style_centered #top-menu>li>a {
    padding: 10px !important;
}