/* ////// WIDGETS ////// */

@import 'shookdown-variables';
@import './base/_placeholders';
@import './base/_mixins';

.widget_archive,
.widget_recent_entries {
    ul {
        li {
            padding: 0;
            margin: 0;
            font-size: 0.7em;
            border-bottom: 1px solid #ECEFF1;
            padding: 5px 20px;
            &:hover {
                background: #ECEFF1;
            }
            a {
                color: $main-color !important;
                font-weight: 700;
                text-transform: uppercase;
                &:hover {
                    color: #000 !important;
                    text-decoration: none;  
                }
            }
        }
    }
}

.widgettitle {
    text-transform: uppercase !important;
    font-size: 0.9em !important;
    margin: 0;
    padding: 15px 20px;
    &:after {
        @include title-bg(0.5rem 0 0 0, 60px, 5px);
    }
}

#sidebar {
    .et_pb_widget {
        background: #fff;
        box-shadow: 0 0 5px #ECEFF1;
    }
}