/* ////// ENTRADA ////// */

@import 'shookdown-variables.scss';

.single article,
.page article,
.single-post article,
.et_pb_post {
    background: #fff;
    padding: 30px 25px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #ECEFF1 !important;
}