/* ////// HOME ////// */

@import 'shookdown-variables.scss';

/* ////// HOME FIXES ////// */

.page-id-50497 {
    .single article,
    .page article,
    .single-post article,
    .et_pb_post {
        padding: 0 !important;
        margin: 0 !important;
        box-shadow: none;
        background: none;
        border: none;
    }
    #main-content {
        background: #f7f7f7 !important;
    }
    .et_pb_section {
        background: none !important;
    }
}

.page #post-50497 {
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
    background: none !important;
    border: none !important;
}